<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.melink.bqmmplugin">

    <application >
        <activity
            android:name="com.melink.bqmmplugin.rc.bqmmsdk.ui.store.EmojiPackageList"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmplugin.rc.bqmmsdk.ui.store.EmojiPackageDetail"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmplugin.rc.bqmmsdk.ui.store.EmojiPackageSetting"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmplugin.rc.bqmmsdk.ui.store.EmojiDetail"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmplugin.rc.bqmmsdk.ui.store.ServiceDeclaration"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" >
        </activity>
        <activity
            android:name="com.melink.bqmmplugin.rc.bqmmsdk.ui.store.EmojiPackageSort"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" >
        </activity>

    </application>

</manifest>
